.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.profile
.python_history
.vim/
.viminfo
.vimrc
.vscode-server/
.wget-hsts
jellyfin/
smb.conf
telegramBot/
vsftpd/
RepoRASPI/
gonic/
transmission/
postgres/


